.cal {
   width: 300px;
   margin: 0 auto;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

input[type="text"] {
   width: 90%;
   padding: 10px;
   margin-bottom: 10px;
}

.buttons button {
   width: 60px;
   height: 30px;
   font-size: 20px;
   margin: 5px;
}
